{% extends "base.html" %}
{% load static %}
{% block page_content %}

<br>
<h1 style="text-align:center;font-family:Marker Felt">Notes</h1>

<div class="column" class="center">
{% for note in notes %}
    <div>
        
            <div class="card-body">
                <h4 class="card-title">{{ note.title }}</h4>
                <p class="card-text">{{ note.description }}</p>
                <a href="">{{ note.genre }}</a>
                <hr>


        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}